 
#carousel {
	width: 400px;
	height: 273px;
	margin: 0 auto;
	overflow: hidden;
}

.slides {
	margin: 0;
	padding: 0;
	display: block;
	width: 2000px;
	height: 273px;
}

.singleSlide {
	list-style-type: none;
	float: left;
	width: 400px;
	height: 273px;
}



[class*="col-"] {
 	float: left;
 	height: 273px;
 	padding: 15px;
 }


.arrow-container {
 	text-align: center;
 	font-size: 28px;
 	color: #B56755;
 	position: relative;
 	top: 129px;
 }

.glyphicon {
	cursor: pointer;
}

.glyphicon-menu-right {
 	position: relative;
 	right: 100px;
 	 }

.glyphicon-menu-left {
 	position: relative;
 	left: 100px;
 }

 .indicators {
 	text-align: center;
 }